<div class="row">
	<div class="col-md-4">
	<form role="form" ng-submit="">
	    <div class="form-group">
	        <label for="username">Username:</label> <input type="text"
	            class="form-control" id="username" name="username" ng-model="user.username"/>
	    </div>
	    <div class="form-group">
	        <label for="password">Password:</label> <input type="password"
	            class="form-control" id="password" name="password" ng-model="user.password"/>
	    </div>
	    <div class="form-group">
	        <label for="password">Repeat password:</label> <input type="password"
	            class="form-control" id="password" name="password" ng-model="passwordAgain"/>
	    </div>
	    <div class="form-group">
	        <label for="username">Name:</label> <input type="text"
	            class="form-control" id="username" name="username" ng-model="user.name"/>
	    </div>
	    <div class="form-group">
	        <label for="username">Last name:</label> <input type="text"
	            class="form-control" id="username" name="username" ng-model="user.lastName"/>
	    </div>
	    <div class="form-group">
	        <label for="username">Email:</label> <input type="email"
	            class="form-control" id="username" name="username" ng-model="user.email"/>
	    </div>
	    <button type="submit" class="btn btn-primary" ng-click="register(user)">Submit</button>
	</form>
	</div>
</div>